<% include partials/head.ejs %>
<body class=<%=bodyClass %>>
    
    <% include partials/header.ejs %>
    <section class="main">
        <div class='container '>
            <h1 class="mt-1 mt-md-3 d-flex justify-content-around"> <%= pageID %></h1>
                <% cards.forEach(ele =>{%>
                <% include partials/categories.ejs %>
            <% }); %>
        </div>
        <% include partials/footer.ejs %>
