<% include partials/head.ejs %>
<link rel='stylesheet' href='/css/index.css'>
</head>
<body class='<%=bodyClass%>'>
    <% include partials/header.ejs %>
    <section class="main">
        <div class='container'>
            <div class="row mt-1 mt-md-3 d-flex justify-content-around">

                <div class="col-12 col-md-7 col-lg-7">
                        <h2 class='chatTitle'>Welcome <%=username%></h2>
                        <h2 class='chatTitle'>Chat with your friends</h2>

                    <div class='chat'>
                        <input type="text" id='chatName' name='chatName' class='form-control' aria-describedby="chatName" value='<%= username%>' placeholder="Handle name" readonly>
                        <div class='d-flex justify-content-center'>
                        <input type="text" id='chatMessage' name='chatMessage'  class='form-control' aria-describedby="chatMessage"
                            placeholder="Type in Message and hit enter">
                            <button type="submit" class="btn float-right" id="chatButton">CHAT</button>
                        </div>
                        <div class="chatWindow">
                            <div id='typing'> </div>
                            <div class='output' id='chatBoard'></div>
                        </div>
                    </div>
                </div>
            </div>

            <% include partials/footer.ejs %>
            <script src ='/js/chat.js'></script>    
            <% include partials/footer2.ejs %>
