<% include partials/head.ejs %>
<link rel='stylesheet' href='/css/index.css'>
</head>
<body class='<%=bodyClass %>'>
    <% include partials/header.ejs %>

    <section class="main blackLayover">
        <div class='d-flex justify-content-center'>
            <h1 class="mt-1 mt-md-3"> <%= pageID %></h1>
        </div>
        <div class='text-center'>
            <a href='/' class='btn btn-primary mr-5'>Home</a>
            <a href='/cards' class='btn btn-primary '>Cards</a>
        </div>

      
    <% include partials/footer.ejs %>
