<% include partials/head.ejs %>
<link rel='stylesheet' href='/css/login.css'>
</head>

<body class='<%=bodyClass%>'>
    <% include partials/header.ejs %>
    <section class="main">
        <div class='container'>
            <div class="row mt-5 d-flex justify-content-center">
                <form class="form formNewProfile" action='/auth/login' method='POST'>
                    <div class="row d-flex justify-content-center">
                        <h1 class="text-center mb-3"> Log In <i class="fas fa-sign-in-alt"></i></h1>
                    </div>
                    <% include partials/message.ejs %>
                    <div class="row d-flex justify-content-center">
                        <div class="col-12 form-input">
                            <form action='auth/login' method="POST">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter Username"
                                        name="username">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Enter Password"
                                        name="password">
                                </div>
                                <div class="row mt-5 d-flex justify-content-center align-items-center mb-2">
                                    <div class="col-12 text-center">
                                        <button id='login' type="submit" class="btn btn-primary">Login</button>
                                        <h5><a href="/auth/register">New user? Register now.</a></h5>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <% include partials/footer.ejs %>
    <!--/CONTAINER END -->

    <% include partials/footer2.ejs %>