<% include partials/head.ejs %>
<link rel='stylesheet' href='/css/login.css'>
</head>
<body class='message'>
    <% include partials/header.ejs %>

    <div class="container d-flex justify-content-center">
        <div class="msg" >
            <h3>
                <%=topMsg%>
            </h3>
        </div>
</div>
</body>
<% include partials/footer.ejs %>
