<% include partials/head.ejs %>
<link rel='stylesheet' href='/css/profile.css'>
</head>

<body class='newProfile'>
    <% include partials/header.ejs %>
    <div class=" m-5">
        <form class="form formNewProfile" onsubmit="return checkForm(this);">
            <div class="row d-flex justify-content-center">
                <h1 class='my-4 text-center'> NEW PROFILE </h1>
            </div>
            <!-- hidden input role_id-->
            <div class="row d-flex justify-content-center">
                <div class="col-lg-3 col-sm-12">
                    <div class="text-center">
                        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail"
                            alt="avatar">
                        <h6><small>Upload a different photo...</small></h6>
                        <input type="file" name="image_url" class="text-center mx-auto file-upload" accept="image/*">
                    </div>
                    <!-- Button trigger modal -->
                </div>
                <!--/col-3 end-->
                <div class="col-12 col-lg-9">
                    <div class="row d-flex justify-content-center">
                        <div class="col-12 col-lg-9">
                            <!-- < class="form"> -->
                            <div class="row form-group">
                                <div class="col-sm-7 my-1">
                                    <label for="username">
                                        <h5>Username<small>*</small></h5>
                                    </label>
                                    <input id='username' title="Enter username" type="text" class="form-control" name="username"
                                        placeholder="username" required>
                                </div>
                                <div class="col-sm-7 my-1">
                                    <label for="email">
                                        <h5>Email<small>*</small></h5>
                                    </label>
                                    <input id='email' type="email" class="form-control" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                                        placeholder="you@email.com" required>
                                </div>
                            <!-- </div>
                            <div class="row form-group"> -->
                                <div class="col-sm-7 my-1">
                                    <label for="password">
                                        <h5>Password<small>*</small></h5>
                                        <p class='pnote'>At least 6 characters, including UPPER/lowercase and
                                            numbers</p>
                                    </label>
                                    <input id='password1' type="password" class="form-control" name="password" placeholder="password"
                                        title="Password must contain at least 6 characters, including UPPER/lowercase and numbers"
                                        required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" onchange="this.setCustomValidity(this.validity.patternMismatch ? this.title : '');
                                        if(this.checkValidity()) form.password2.pattern = RegExp.escape(this.value);">
                                </div>
                                <div class="col-sm-7 my-1">
                                    <label for="password2">
                                        <h5>Confirm Password<small>*</small></h5>
                                        <p class='pnote'>Same password as above</p>
                                    </label>
                                    <input id='password2' type="password" class="form-control" title="Please enter the same password"
                                        name="password2" placeholder="confirm password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
                                        onchange="this.setCustomValidity(this.validity.patternMismatch ? this.title : '');">
                                </div>
                                <div class="col-sm-7 my-4 text-center">
                                    <button class="btn save btn-primary" type='submit' id="newProfile"><i class="fas fa-check"></i>
                                        Save</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="newComp" tabindex="-1" role="dialog" aria-labelledby="newCompLbl"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="newCompLbl">Created Successfully</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" id='newProfileModal'>    
                                </div>
                                <div class="modal-footer">
                                    <a type="btn btn-success" href='/login' class="btn btn-secondary">Close</a>
                                </div>
                            </div>
                        </div>
                    </div><!-- modal end -->
                </div>
            </div>
        </form>
    </div>
                <!--/CONTAINER END -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>


    <script src='/js/profile.js'></script>
    <script>
        if (!RegExp.escape) {
            RegExp.escape = function (s) {
                return String(s).replace(/[\\^$*+?.()|[\]{}]/g, '\\$&');
            };
        }

        function checkPassword(str) {
            var re = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}$/;
            return re.test(str);
        }

        function checkForm(form) {
            if (form.username.value == "") {
                alert("Error: Username cannot be blank!");
                form.username.focus();
                return false;
            }
            re = /^\w+$/;
            if (!re.test(form.username.value)) {
                alert("Error: Username must contain only letters, numbers and underscores!");
                form.username.focus();
                return false;
            }
            if (form.password.value != "" && form.password.value == form.password2.value) {
                if (!checkPassword(form.password.value)) {
                    alert("The password you have entered is not valid!");
                    form.password.focus();
                    return false;
                }
            } else {
                alert("Error: Please check that you've entered and confirmed your password!");
                form.password.focus();
                return false;
            }
            return true;
        }
    </script>

</body>
<% include partials/footer.ejs %>