body{
    color:rgb(58, 58, 58)
}
.newProfile{
	background: #7F7FD5;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.pnote{
	font-size:14px;
    padding:0;
    border:none;
    color:rgb(90, 90, 90);
    margin: 0;
}
.save{
    width:8rem;
}
