/* <a href='http://picserio.com/clash-royal-wallpaper/6079523.html'>Clash Royal Wallpaper </a> */

/* <a href="https://www.clipartmax.com/middle/m2i8m2G6A0i8b1m2_clash-royale-logo-logo-de-clash-royale-png/" target="_blank">Clash Royale Logo - Logo De Clash Royale Png @clipartmax.com</a> */

@import url(https://fonts.googleapis.com/css?family=Changa:700|Denk+One|Lato|Palanquin:700|Ubuntu+Mono:700|Viga);
body{
    margin:0;
    padding:0;
    font-family: 'Changa', sans-serif; 
    color:white;
}

nav{
    font-family: 'Changa', sans-serif; 
    background-color: #fff;
    /* background-color: rgb(51, 157, 255); */
    color:#007bff !important;
    letter-spacing: 0.1rem;
    font-size:18px;
    text-transform: uppercase;
} 

.nav-link:hover{
    color:red !important;
}
.nav-item{
    margin-right:10px;
}

.main{
    padding-top:90px;
    padding-bottom:70px;
}
.footer{
    /* margin-top:10px; */
    background-color: #fff;
    position:fixed;
    left: 0;
    bottom:0;
    height:50px;
    width:100%;
    text-align: center;
}
footer > .container{
    background-color: #fff;
    /* position: relative; */
    display: block;
    color:#007bff;
}
.fontSize14{
    font-size: 14px;
}