/* <a href='http://picserio.com/clash-royal-wallpaper/6079523.html'>Clash Royal Wallpaper </a> */

/* <a href="https://www.clipartmax.com/middle/m2i8m2G6A0i8b1m2_clash-royale-logo-logo-de-clash-royale-png/" target="_blank">Clash Royale Logo - Logo De Clash Royale Png @clipartmax.com</a> */

@import url(https://fonts.googleapis.com/css?family=Changa:700|Denk+One|Lato|Palanquin:700|Roboto|Ubuntu+Mono:700|Viga);
body{
    margin:0;
    padding:0;
    font-family: 'Changa', sans-serif; 
    color:white;
}

/* == NAV === */

nav{
    font-family: 'Changa', sans-serif; 
    background-color: #fff;
    /* background-color: rgb(51, 157, 255); */
    color:#007bff !important;
    letter-spacing: 0.1rem;
    font-size:18px;
    text-transform: uppercase;
} 

.nav-link:hover{
    color:red !important;
}
.nav-item{
    margin-right:10px;
}

.main{
    padding-top:90px;
    padding-bottom:70px;
}
.footer{
    /* margin-top:10px; */
    background-color: #fff;
    position:fixed;
    left: 0;
    bottom:0;
    height:50px;
    width:100%;
    text-align: center;
}
footer > .container{
    background-color: #fff;
    /* position: relative; */
    display: block;
    color:#007bff;
}
.fontSize14{
    font-size: 14px;
}
.hide{
    display: none;
}
.dropdown-item{
    color:#007bff;
}
.multi-level{
    max-width:150px
}
.dropdown-submenu {
    position: relative;
  }
  
  .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
  }
  
  .dropdown-submenu:hover>.dropdown-menu {
    display: block;
    transition: 0.3s 1s; 
  }
  
  .dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
  }
  
  .dropdown-submenu:hover>a:after {
    border-left-color: #fff;
  }
  
  .dropdown-submenu.pull-left {
    float: none;
  }
  
  .dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
  }

/* ==title of each page=== */

h1{
    text-align: center;
    margin:50px;
}
@media (min-width: 544px) {  
    h1 {font-size: 40px;}
  }

  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {  
    h1 {font-size: 60px;}
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) { 
    h1 {font-size: 60px;}
  }
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {  
    h1 {font-size: 70px;}
  }