<% include partials/head.ejs %>

<body class=<%=bodyClass %>>
    <% include partials/header.ejs %>
    <section class="main blackLayover">
        <div class='container'>
            <div class="row mt-1 mt-md-3 d-flex justify-content-around">

                <div class="col-12 col-md-7 col-lg-7">
                    <h2 class='feedbackTitle'>Chat with your friends</h2>

                    <div class='chat'>
                        <input type="text" id='chatName' name='chatName' class='form-control' aria-describedby="chatName" placeholder="Handle name">
                        <input type="text" id='chatMessage' name='chatMessage'  class='form-control' aria-describedby="chatMessage"
                            placeholder="Type in Message and hit enter">

                            <button type="submit" class="btn" id="chatButton">LET'S CHAT</button>
                        <div class="chatWindow">
                            <div class='output bg-light' id='chatBoard'></div>
                            <div id='typing'></div>
                        </div>


                    </div>
                </div>
            </div>

            <% include partials/footer.ejs %>
