<% include partials/head.ejs %>

<body class=<%=bodyClass %>>
    <% include partials/header.ejs %>
    <section class="main blackLayover">
        <div class='container'>
            <div class="row mt-1 mt-md-3 d-flex justify-content-around">
                <div class="col-12 col-md-5 p-lg-1 p-md-2 p-sm-1">
                    <h2 class='feedbackTitle'>Send us Feedback</h2>

                    <form class='formFeedback'>
                        <!-- <form class='formFeedback' method="POST" action='/api'> -->
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" id='inputName' class="form-control" name='name' aria-describedby="name"
                                placeholder="Your name">
                        </div>
                        <div class="form-group">
                            <label for="title">Choose your feeling!</label>
                            <div class='radioButtons'>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label" for="star">
                                        <input class="form-check-input" type="radio" value="fa-grin-stars" name='feeling'>
                                        <i class="far fa-grin-stars emoji" id='iconStar'></i>
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label" for="laugh">
                                        <input class="form-check-input" type="radio" value="fa-laugh" name='feeling'>
                                        <i class="far fa-laugh emoji" id='iconLaugh'></i>
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label " for="surprise">
                                        <input class="form-check-input" type="radio" value="fa-surprise" name='feeling'>
                                        <i class="far fa-surprise emoji" id='iconSurprise'></i>
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label" for="cry">
                                        <input class="form-check-input" type="radio" value="fa-sad-tear" name='feeling'>
                                        <i class="far fa-sad-tear emoji" id='iconCry'></i>
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label" for="tired">
                                        <input class="form-check-input" type="radio" value="fa-tired" name='feeling'>
                                        <i class="far fa-tired emoji" id='iconTired'></i>
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label" for="angry">
                                        <input class="form-check-input" type="radio" value="fa-angry" name='feeling'>
                                        <i class="far fa-angry emoji" id='iconAngry'></i>
                                    </label>
                                </div>
                            </div>
                            <!-- <input type="text"  id='inputTitle' class="form-control" name="title" placeholder="Title"> -->
                        </div>
                        <div class="form-group">
                            <label for="feedback">Feedback</label>
                            <textarea class="form-control" id='inputTextarea' name="feedback" rows="5" placeholder="Feedback"></textarea>
                        </div>
                        <div class='d-flex justify-content-center'>
                            <button type="submit" id='submit' class="btn btn-primary">SUBMIT</button>
                            <button type="edit" id='edit' class="btn btn-success hide">EDIT</button>
                        </div>
                    </form>
                </div>
                <div class="col-12 col-md-5 mt-5 mt-md-0 p-lg-1 p-md-2 p-sm-1">
                    <!-- <h2 class='feedbackTitle'>Send us Feedback</h2> -->
                    <div class='ml-0 ml-lg-5 ml-md-3' id='apiStart'>
                        <!-- <div class="divFeedback">
                            <span class='fontSize14 float-right text-dark mx-2' id='delete'><i class="fas fa-trash-alt"></i></span>
                            <span class='edit fontSize14 float-right text-dark mx-2' id='edit'><i class="fas fa-edit"></i></span>
                            <h5>
                                <span class='displayName mb-2'>my name</span>
                                <i class="far fa-sad-tear ml-2"></i>
                            </h5>
                            <span class='displayFeedback'> Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                Nesciunt, doloribus?</span>

                        </div> -->
                    </div>
                    </ul>
                </div>
            </div>

            <% include partials/footer.ejs %>
