<% include partials/head.ejs %>
<body class='index'>
    <% include partials/header.ejs %>
    <section class="main">
        <div class='container'>

            <div class="row d-flex justify-content-center">
                <div class="col-8">
                    <h1>
                        CLASH ROYALE COMMUNITY
                    </h1>

                    <h3 style="margin-top:10vh; text-align:center; color:#fff9e5;">I made this site as a part of a
                        project through <a href='https://www.digitalcrafts.com/'>DigitalCraft</a> to learn Node.js and
                        Express. You can refer to all Clash Royale cards from this website.</h3>
                </div>
            </div>
            <% include partials/footer.ejs %>
