<% include partials/head.ejs %>
<body class=<%=bodyClass %>>
    <% include partials/header.ejs %>
    <section class="main">
        <div class='container '>
            <h1> <%= pageID %></h1>
            <% cards.forEach(ele =>{%>
                <% include partials/categories.ejs %>
            <% }); %>
        </div>
        <% include partials/footer.ejs %>